<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="c:/xampp/htdocs/sistema_ventas/ventas/funciones.php"
         colors="true"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Default">
            <file>c:/xampp/htdocs/sistema_ventas/tests/FuncionesTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <!-- Configuración de PHP -->
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="1" />
        <env name="APP_ENV" value="testing"/>
    </php>
</phpunit>
